[gcode_macro speed_at_layer]
description: Convenience macro to schedule a feedrate adjustment at the
    specified layer change. LAYER=next will cause the command to run at the next
    layer change. (SPEED parameter behaves the same as the M220 S parameter.)
    Usage: SPEED_AT_LAYER { HEIGHT=<pos> | LAYER=<layer> } SPEED=<percentage>
gcode:
    {% set SPEED = params.SPEED|default(0)|int %}
    {% if SPEED < 1 or SPEED > 500 %}
        {
            action_raise_error(
                "SPEED[%i] parameter between 1 and 500 is required."% SPEED
                )
            }
    {% endif %}
    _GCODE_AT_LAYER {% for k in params|select('in',['HEIGHT','LAYER'])|list %}{
        ' ' ~ k ~ '=' ~ params[k] }{% endfor 
    %} COMMAND="M220 S{SPEED|int}"
    
    # Dummy argument block for Mainsail
    {% set dummy = None if True else "
        {% set dummy = params.LAYER|default(layer number)|float %}
        {% set dummy = params.HEIGHT|default(Z height)|int %}
        {% set dummy = params.SPEED|default(percentage)|int %}
        " 
    %} # End argument block for Mainsail