# TODO: Fix casing after front-ends get fixed
[gcode_macro UNLOAD_FILAMENT]
description: Unloads filament from the extruder.
    Usage: UNLOAD_FILAMENT [LENGTH=<distance>] [SPEED=<speed>]
                            [EXTRUDER=<extruder>] [MINIMUM=<temperature>]
                            [BEEPS=<beep count on completion>]
gcode:
    _LOAD_UNLOAD LOAD=0{% for k in params %}{' '~k~'="'~params[k]~'"'}{% endfor %}

    # Dummy argument block for Mainsail
    {% set dummy = None if True else "
        M109
        {% set dummy = params.LENGTH|default(variable_load_length)|float %}
        {% set dummy = params.SPEED|default(variable_load_speed)|float %}
        {% set dummy = params.EXTRUDER|default(default extruder) %}
        {% set dummy = params.MINIMUM|default(min_extrude_temp)|int %}
        {% set dummy = params.BEEPS|default(10)|int %}
        " 
    %} # End argument block for Mainsail